@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050505;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}